.profile__container-add {
    width: 150px;
    padding: 20px 64px 27px 64px;
    background-image: url(../../../images/add-button.svg);
    background-color: #000;
    background-repeat: no-repeat;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-position: center;
    transition: opacity .3s ease-in;
    margin-top: 7px;
}
.profile__container-add:hover {
    cursor: pointer;
    opacity: .6;
}
@media screen and (max-width: 768px) {
    .profile__container-add {
        width: 200px;
    }
}
@media screen and (max-width: 320px) {
    .profile__container-add {
        width: 282px;
        padding: 23px;
        background-image: url(../../../images/Vector-plus-320px.svg);
    }
}