.popup__button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 14px 82px 14px 82px;
    margin: 46px 0 0;
    font-style: inherit;
    font-size: 18px;
    text-align: center;
    width: 100%;
    transition: background-color .3s ease-in;
    box-sizing: border-box;
}
.popup__button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 320px) {
    .popup__button {
        max-width: 280px;
        font-size: 14px;
        line-height: 17px;
    }
}