.elements {
    max-width: 880px;
    margin: 0 auto 66px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, max-content));
    grid-gap: 21px 17px;
    justify-content: center;
}
@media screen and (max-width: 1024px) {
    .elements {
      max-width: 800px;
    }
}
@media screen and (max-width: 767px) {
    .elements {
      padding: 36px 30px 0;
    }
}
  
@media screen and (max-width: 560px) {
    .elements {
      padding: 0;
    }
}
  