.profile__container-subtitle {
    font-weight: 400;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    max-width: 300px;
}
@media screen and (max-width: 320px) {
    .profile__container-subtitle {
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        margin-top: -7px;
        max-width: 270px;
    }
}