.footer {
    max-width: 880px;
    padding: 0;
    margin: 0 auto;
}
@media screen and (max-width: 1024px) {
    .footer {
        width: 73%;
    }
}
@media screen and (max-width: 768px) {
    .footer {
        width: 94%;
        margin-top: -15px;
    }
}