.profile__container-edit {
    background-image: url(../../../images/edit-button.svg);
    background-color: #000;
    background-position: center;
    border: 1px solid #FFFFFF;
    background-repeat: no-repeat;
    padding: 12px;
    margin-bottom: 24px;
    transition: opacity .3s ease-in;
}
.profile__container-edit:hover {
    cursor: pointer;
    opacity: .6;
}
@media screen and (max-width: 320px) {
    .profile__container-edit {
       padding: 8px;
       background-image: url(../../../images/Vector-320px.svg);
    }
}