.header {
    max-width: 880px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 45px auto 40px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
@media screen and (max-width: 1024px) {
    .header {
      width: 90%;
    }
}
@media screen and (max-width: 768px) {
    .header {
      width: 100%;
      padding: 45 auto 40px;
      
    }
}
@media screen and (max-width:320px) {
    .header {
      margin: 28px auto 38.25px;
    }
}
